{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": false,
      "baseUrl": "./src", // Define o diretório base para os aliases
      "paths": {
        "@shared/*": ["modules/@shared/*"],
       "@checkout/*": ["modules/checkout/*"],
       "@client-adm/*": ["modules/client-adm/*"],
       "@invoice/*": ["modules/invoice/*"],
       "@payment/*": ["modules/payment/*"],
       "@product-adm/*": ["modules/product-adm/*"],
       "@store-catalog/*": ["modules/store-catalog/*"]
      }
    },
    "target": "es2020"
  },
  "module": {
    "type": "commonjs"
  },
  "exclude": [
    "src/**/*.spec.ts",
    "src/**/*.test.ts"
  ]
}